Sketch for prediction of SalesAmount
===

# Setup

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#from sklearn

from os import path

# Loading Data

In [7]:
### For now, let's just work with the main table FactSales
data = pd.read_csv("../raw_data/FactSales.csv")

data.set_index(['SalesKey'], inplace=True)
data['DateKey'] = pd.to_datetime(data['DateKey'], infer_datetime_format=True)

data.head()

,DateKey,channelKey,StoreKey,ProductKey,PromotionKey,CurrencyKey,UnitCost,UnitPrice,SalesQuantity,ReturnQuantity,ReturnAmount,DiscountQuantity,DiscountAmount,TotalCost,SalesAmount
SalesKey,,,,,,,,,,,,,,,
1,2007-01-02,1,209,956,10,1,91.05,198.0,8,0,0.0,1,39.600,728.40,1544.400
2,2007-02-12,4,308,766,2,1,10.15,19.9,4,0,0.0,1,0.995,40.60,78.605
3,2008-01-24,1,156,1175,11,1,209.03,410.0,9,0,0.0,3,61.500,1881.27,3628.500
4,2008-01-13,2,306,1429,10,1,132.90,289.0,8,0,0.0,1,57.800,1063.20,2254.200
5,2008-01-22,2,306,1133,10,1,144.52,436.2,24,0,0.0,3,261.720,3468.48,10207.080

## Merging with other tables for additional features

In [8]:
##### TBD

# DimStore
data = pd.merge(data, pd.read_csv("../raw_data/DimStore.csv"),
                how = "left", on = "StoreKey").drop(columns = ["StorePhone", "StoreFax"])
print(data.shape)
### DimGeography (only reachable by DimStore)
# Not needed for machine learning!
# data = pd.merge(data, pd.read_csv("../raw_data/DimGeography.csv"),
#                 how = "left", on = "GeographyKey").drop(columns = ["GeographyKey"])
print(data.shape)
### DimProduct
data = pd.merge(data, pd.read_csv("../raw_data/DimProduct.csv"),
                how = "left", on = "ProductKey").drop(columns = ["ProductKey"])
print(data.shape)
### DimProductSubcategory (only reachable by DimProduct)

### DimProductCategory (only reachable by DimProductSubcategory)

### DimPromotion

data.head()

,DateKey,channelKey,StoreKey,ProductKey,PromotionKey,CurrencyKey,UnitCost,UnitPrice,SalesQuantity,ReturnQuantity,...,OpenDate,CloseDate,EntityKey,StorePhone,StoreFax,CloseReason,EmployeeCount,SellingAreaSize,LastRemodelDate,EmployeeKey
0,2007-01-02,1,209,956,10,1,91.05,198.0,8,0,...,2004-09-22,2090-12-31,841,138-555-0118,138-555-0118,Not Yet Closed,32,680,2009-06-16 00:00:00,227
1,2007-02-12,4,308,766,2,1,10.15,19.9,4,0,...,2004-03-08,2090-12-31,947,55-555-0118,55-555-0118,Not Yet Closed,15,450,2008-06-05 00:00:00,35
2,2008-01-24,1,156,1175,11,1,209.03,410.0,9,0,...,2004-04-20,2090-12-31,790,594-555-0110,594-555-0110,Not Yet Closed,26,680,2009-06-16 00:00:00,171
3,2008-01-13,2,306,1429,10,1,132.90,289.0,8,0,...,2004-09-03,2090-12-31,945,731-555-0117,731-555-0117,Not Yet Closed,7,1000,2009-06-18 00:00:00,246
4,2008-01-22,2,306,1133,10,1,144.52,436.2,24,0,...,2004-09-03,2090-12-31,945,731-555-0117,731-555-0117,Not Yet Closed,7,1000,2009-06-18 00:00:00,246

# Pre-processing

In [ ]:
## Seasonal data - aggregating by days (DateKey)